body {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  */
    /* margin: 0;
    padding: 0; */
}

.box1 {
    background-color: #0D2440;
    border: 2px solid #B78700;
    width: 800px;
    padding: 30px;
    margin: 30px;
    color: #B78700
}

.box2 {
    background-color: #0D2440;
    width: 800px;
    padding: 30px;
    margin: 30px;
    border: 2px solid #B78700;
    color: #B78700
}

.mapouter {
    border: 2px solid #b78700;
}
