body {
    background-image: url("../IMG/multicars-juist.jpg");
}
.homepage-body {
    width: 100%;
    height: 650px;
}


#homepage-pic {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#Reserveer-knop {
    width: 150px;
    height: 35px;
    position: absolute;
    margin-top: 580px;
    background-color: #0d2440;
    color: #b78700;
    z-index: 6;
    margin-left: 8%;
}
